host/bin2verilog
*.bak
*.o
*.bin
*.dis
*.prj
*.log
*.cmd_log
*.syr
*.xst
*.html
*.xrpt
*.xmsgs
*.cmd
*.gise
*.tfi
top_isim_beh.exe
*.xml
bench_isim_beh.exe
bench_isim_beh.wdb
*.stx
*.lso
*.swp
spartan3_top.*
spartan3_top_*
!spartan_top.v
isim/
_ngo/
Default.wcfg
xst/
xlnx_auto_0_xdb/
xilinxsim.ini
iseconfig/
impact.xsl
impact_impact.xwbt
